<div class = main-container>
    <h2>スケジュール一覧</h2>
    
    <div class = schedule-list >
        
    </div>
    <%= link_to("スケジュール新規登録","/new") %>
</div>
<footer>
    <div class = footer-container>
        <h1>現在の日時:  スケジュール数：</h1>
    </div>
</footer>